.Etilo_Menu_Superior{
    background-color:#CFD3DB;  
	border-style:none;	
	padding:0;
}
#navcontainer ul
{
/*margin: 0;
padding: 0;*/
margin: 0px;
padding: 4px;
list-style-type: none;
text-align: center;
background: #CFD3DB;
font-family: arial, serif;
font-size: 13px;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #000000;
background-color: #CFD3DB;
}

#navcontainer ul li a:hover
{
	color: #000000;
	background-color: #EDF1D5;
	border-style:solid; border-width:1px; border-color:#000000;
}